certifi~=2024.6.2
charset-normalizer~=3.3.2
colorama~=0.4.6
Cython~=3.0.10
idna~=3.7
jarowinkler~=2.0.1
lxml~=5.2.2
numpy~=2.0.0
packaging~=24.1
pillow~=10.3.0
pyxDamerauLevenshtein~=1.8.0
rapidfuzz~=3.9.3
requests~=2.32.3
tqdm~=4.66.4
urllib3~=2.2.1
yara-python~=4.5.1
clavier~=0.1.0
setuptools~=70.3.0
typoguardian~=0.1
feedparser~=6.0.11